@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #282c34;
  background-image: url('./assets/background1.png');
  background-position: 50%;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
}

.App {
  /*background-color: #282c34;*/
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

canvas {
  width: 100vw;
  height: 100vh;
  /*background-image: linear-gradient( 135deg, rgba(224,235,213,1), rgba(37,148,141,1) );*/
}

#languageBar {
  height: 50px;
  background-color: #525252;
  opacity: 0.8;
}

#languageBar Button {
  margin: .5em .5em;
}