html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /*overflow: hidden;*/
  background-color: #282c34;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

canvas{
  width: 50%;
  /*height: 100%;*/
  background-image: linear-gradient( 135deg, rgba(224,235,213,1), rgba(37,148,141,1) );
}
